nav {
  z-index: 99;
  top: 0;
  background-color: rgba(255, 255, 255, 0.08);
}

nav .collapse.navbar-collapse {
  display: block;
}

.profile-pic {
  width: 13% !important;
  object-fit: cover;
  float: left;
}

@media (max-width: 991px) {
  nav .collapse.navbar-collapse {
    overflow: hidden;
  }
  nav .active.navbar-collapse {
    height: 30vh !important;
  }
  .container-fluid.mx-5 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

nav .navbar-collapse {
  transition: 0.6s all ease-in-out;
  height: 0 !important;
}

@media (max-width: 991px) {
  .navbar-brand {
    width: 50% !important;
  }
  .profile-pic {
    max-width: 29% !important;
    min-width: 29% !important;
    min-height: 100% !important;
    object-fit: cover;
    float: left;
  }
}

@media (max-width: 500px) {
  .navbar-brand {
    width: 50% !important;
  }
  .profile-pic {
    max-width: 66% !important;
    min-width: 66% !important;
    min-height: 100% !important;
    object-fit: cover;
    float: left;
  }
}

.log-in {
  background-color: #08296e !important;
  color: #fff !important;
  border-radius: 50px;
}

.darkblue {
  color: #08296e !important;
}

.screen .active {
  border-bottom: #08296e 4px solid;
}

.underline {
  color: #08296e;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #08296e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}

.scene {
  display: inline-block;
  height: 400px;
  /*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 6000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1s ease;
  border: none !important;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card .side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  border-radius: 10px;
}

.card .front {
  background-color: rgba(255, 255, 255, 0);
}

.card .back {
  transform: rotateY(180deg);
}

